body {
	font-family: 'Fauna One', serif;
        font-size: small;
	background-color: #111111;
	color: white;
  	background-attachment: scroll;
  	background-size: 100% 100%;
  	display: inline;
  	margin: 0;
        padding: 0;
}

a {
	color: white;
}

a:hover, a:focus {
	color: white;
	text-decoration: none;
}

h1 .caption, h1 > small {

  animation-duration: 2.0s;

  animation-name: slidein;

}

@keyframes slidein {

  from {

    margin-left: 50%;

    width: 100%;

  }
}

h1 {
	color: orangered;
	text-align: center;
	margin-top: 10%;
	font-size: medium;
}
h1, h1 > small, h2, h3, h4, h5, h6 {
	text-shadow: 1px 1px 2px black, 0 0 25px blueviolet, 0 0 25px blueviolet;
  }

/* Change the color of h1 to white on hover */
h1:hover {
	color: #0077b5;
}

h1 > small {
	display: block;
	color: orchid;
}

h2 {
	font-size: large;
	margin: 0 auto;
	text-align: center;
	color: #0077b5;
}

/* Change the color of h2 to white on hover */
h2:hover {
	color: orangered;
}

h2: after {
	display: inline;
	margin: 0 auto;
	content: "";
}

h3 {
	font-weight: bold;
	font-size: large;
	margin-top: 5%;
	text-align: center;
	color: #0077b5;
}

/* Change the color of h3 to white on hover */
h3:hover {
	color: orangered;
}

h4 {
	font-size: large;
	color: #0077b5;
	margin-top: 1%;
	text-align: center;
	font-family: 'Fauna One', serif;
}

/* Change the color of h4 to white on hover */
h4:hover {
	color: orangered;
}

h5 {
	font-size: large;
	color: orangered;
	margin-top: 10px;
	text-align: center;
	font-family: 'Fauna One', serif;
}

/* Change the color of h4 to white on hover */
h5:hover {
	color: #0077b5;
}

h6 {
	font-size: large;
	color: #0077b5;
	margin-top: 10%;
	text-align: center;
	font-family: 'Fauna One', serif;
}

/* Change the color of h4 to white on hover */
h6:hover {
	color: orangered;
}

h1 .caption {
	font-size: 50px;
	font-family: 'Brush Script MT', cursive;
	width: 200px;
	margin: 0 auto;
}




/* ELEMENTS */
.noir {
	display: block;
	background-color: black;
	padding: 5px;
	border: 3px solid black;
	text-decoration: none;
	width: 90px;
}

.vertical-list li {
	margin: 0;
	display: inline;
	float: left;
}

.GitHub:hover {
	background-color: #0077b5;
	transition: background-color .4s;
}

.GitHub {
	border-color: #0077b5;
	text-align: center;
	font-size: 13px;
}

/* END OF ELEMENTS */

.overflow {
	overflow: hidden;
}

.overlay {
	background-color: rgba(4,14,22,.83);
	height: 100%;
	width: 100%;
	padding-bottom: 80px;
}

.overlay-1 {
	background-color: rgba(4,14,22,.83);
	height: 100%;
	width: 100%;
	padding-bottom: 5rem;
	padding-top: 5rem;
}

.overlay-2 {
	background-color: rgba(4,14,22,.83);
	height: 100%;
	width: 100%;
	padding-bottom: 5rem;
	padding-top: 5rem;
	margin-bottom: 0 !important;
}

.overlay-3 {
	background-color: rgba(4,14,22,.83);
	height: 100%;
	width: 100%;
	margin-bottom: 0 !important;
}

.in-box {
	background-image: url("https://imgur.com/aaL9ZXO.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	height: 100%;
	width: 100%;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-bottom: 3rem;
	padding-top: 0.5rem;
}

.fill-up {
	background-image: url("https://imgur.com/hoRNHH8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	height: 50%;
	width: 100%;
	padding-bottom: 1rem;
	padding-top: 2rem;
	margin: 0 !important;
}

.fill-in {
	background-image: url("https://imgur.com/uw2lsXA.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	height: 100%;
	width: 100%;
}
@media(max-width:768px){
       .fill-up, .fill-in {
                height: 100%;
                width: 100%;
       }
}

.container {
	 border: 1px solid #dddddd;
	 border-collapse: collapse;
	 border-color: brown;
}

#home {
	background-image: url("https://imgur.com/St1mWS0.jpg");
	width: 100%;
        height: 100%;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	margin: 0 auto;
}

@import: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
. {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	padding: 0 1.5rem;
	background-color: black;
}

.btn {
	display: none;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu li {
	list-style: none;
}

.menu li a {
	text-decoration: none;
	margin-left: 1.5rem;
}

.logo {
	text-decoration: none;
	font-size: 1.7rem;
	color: white;
}

.menu li a {
	color: white;
}

.menu li a:hover {
	color: orangered;
}

@media(max-width:768px){
	.btn {
		display: block;
		color: white;
		cursor: pointer;
	}
	.menu {
		flex-direction: column;
		position: absolute;
		top: 3rem;
		left: -200%;
		width: 50%;
		height: 40vh;
		transition: 1.0s;
		background-color: black;
		text-align: center;
		float: left;
	}
	.menu li a {
		margin: 5px;
		display: inline;
		text-align: center;
		line-height: 25px;
		float: left;
		font-size: 12px;
	}
	.menu.active{
		left: 0;
	}
}

#about::before {
	height: 0px;
	width: 0px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #131c23;
	margin: 0 auto;
	content: "";
	display: block;
}

.bio p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
        text-align: left;
}

.signature {
        font-size: 15px;
}

.col-md-4 {
	text-align: center;
}

.img-responsive-img-circle {
	border-radius: 20px;
}

.img-responsive-img-circle-1 {
	border-radius: 10px;
}

.social-link {
	margin-top: 100px;
	overflow: hidden;
	padding: 0;
	display: table;
	margin: 0 auto;
}

.social-link li {
	display: inline-table;
	padding: 20px;
}

.col-lg-3 p {
	text-align: center;
}

#about h2 {
	margin-top: 50px;
}

#about h2::after {
	border-bottom: 2px dashed #918D8D;
}

#about .info p {
	line-height: 270%;
}

#about .signature {
	font-family: 'Brush Script MT', cursive;
	font-size: xx-large;
	text-align: center;
	color: #0d2435;
	opacity: .9;
	text-align: center;
}

.grid-container {
  	display: grid;
        justify-content: space-evenly;
        grid-template-columns: 50px 50px; /*Make the grid smaller than the container*/
        gap: 10px;
        background-color: none;
        padding: 2px;
        margin-top: 10px;
        overflow: hidden;
}
      
.grid-container > div {
        background-color: none;
        text-align: center;
        padding: 20px 0;
}
@media(max-width:768px){
	.grid-container {
		grid-template-colums: 50px 50px; /*Make the grid smaller than the container*/
	}
}

#portfolio {
	background-image: url("https://imgur.com/LRIVutr.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	width: 100%;
	height: 100%;
}

.pt {
	margin-top: -10px;
	text-align: center;
	margin-bottom: 60px;
        font-size: 12px;
}

.pt a {
        text-decoration: none;
}

.port {
	font-family: serif;
	text-align: center;
}

.data-1 {
	color: #0077b5;
	text-align: center;
	font-family: 'Fauna One', serif;
	margin-top: 4.5%;
}

.data-lists {
	text-align: center;
	margin-top: 3%;
}

.data-list-1 {
	margin-top: 10px;
	color: skyblue;
}

.al {
	color: green;
	font-size: small;
}

.data-list-3 {
	margin-top: 20px;
}

.date-1 {
	color: white;
	font-size: small;
}

.cv {
	text-align: center;
}

.resume {
	text-align: center;
	align-items: center;
	display: flex;
	margin-top: 9px;
}

.email {
	margin-top: 20px;
	text-align: center;
	color: #ffffff;
	font-size: medium;
	font-family: sans-serif;
}

.email a {
        text-decoration: none;
}

.email span, em {
	color: skyblue;
	text-decoration: none;
}
	/* Change the email span color to royalblue on hover */
.email span:hover{
	color: royalblue;
}

.footer-copy {
	margin-top: 50px;
        margin-bottom: 0 !important;
	color: white;
	text-align: center;
	font-size: small;
	font-family: serif;
}
