body {
	font-family: 'Fauna One', serif;
	background-color: black;
	color: white;
  	margin-top: 30px;
  	margin-right: 40px;
  	margin-bottom: 30px;
  	margin-left: 40px;
}

li {
	list-style: none;
}

a {
	color: white;
}

a:hover, a:focus {
	color: white;
	text-decoration: none;
}


h1 {
	color: orangered;
	text-align: center;
	margin-top: 10%;
	font-size: 200%;
}

/* Change the color of h1 to white on hover */
h1:hover {
	color: white;
}

h1 > small {
	display: block;
	color: white;
}

h2 {
	font-size: 200%;
	margin: initial;
	text-align: center;
	color: orangered;
}

/* Change the color of h2 to white on hover */
h2:hover {
	color: white;
}

h2: after {
	display: block;
	margin: 42px 0;
	content: "";
}

h3 {
	font-weight: bold;
	font-size: 200%;
	margin-top: 5%;
	text-align: center;
	color: orangered;
}

/* Change the color of h3 to white on hover */
h3:hover {
	color: white;
}

h4 {
	font-size: 150%;
	color: orangered;
	margin-top: 1%;
	text-align: center;
	font-family: 'Fauna One', serif;
}

/* Change the color of h4 to white on hover */
h4:hover {
	color: white;
}

h5 {
	font-size: 150%;
	color: orangered;
	margin-top: 10%;
	text-align: center;
	font-family: 'Fauna One', serif;
}

/* Change the color of h4 to white on hover */
h5:hover {
	color: white;
}

h1 .logo {
	font-size: 230%;
	font-family: 'Brush Script MT', cursive;
	width: 200px;
	margin-left: -20px;
}

/* ELEMENTS */
.noir {
	display: block;
	background-color: black;
	padding: 5px;
	border: 3px solid black;
	text-decoration: none;
	width: 50px;
	float: center;
}

.vertical-list li {
	float: left;
	margin: initial;
}

.blog:hover {
	background-color: #0077b5;
	transition: background-color .4s;
}

.blog {
	border-color: #0077b5;
	text-align: center;
}

/* END OF ELEMENTS */

.overflow {
	overflow: hidden;
}

.overlay {
	background-color: rgba(4,14,22,.83);
	height: 100%;
	width: 100%;
	padding-bottom: 80px;
}

.in-box {
	background-image: url("https://i.gifer.com/8J2Q.gif");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	margin: initial;
}

.fill-up {
	background-image: url("https://i.gifer.com/J4o.gif");
	background-repeat: no-repeat;
	background-size: cover;
	height:100%;
	width: 100%;
	margin: initial;
}

.fill-in {
	background-image: url("https://www.linkpicture.com/q/images-12_28.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	margin: initial;
}

.container {
	 border: 1px solid #dddddd;
	 border-collapse: collapse;
	 border-color: brown;
}

#home {
	background-image: url("https://static.pexels.com/photos/232/apple-iphone-books-desk-large.jpg");
	width: 100%;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

#home nav {
	margin: 0 auto;
	width: 700px;
	padding-top: 80px;
}

#home nav ul {
	overflow: hidden;
}

#home nav ul li {
	width: 25%;
}

#home nav a {
	padding: 16px;
	padding-right: 30px;
	display: table-cell;
	text-decoration: none;
}

/* Change the link color to orangered on hover */
nav a:hover {
	color: orangered;
}

#home nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: black;
	z-index: 999;
	padding: 0;
	transition: background-color .8s;
}

#home nav ul {
    max-width: 700px;
	margin: 0 auto;
}

#about::before {
	height: 0px;
	width: 0px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #131c23;
	margin: 0 auto;
	content: "";
	display: block;
}

.col-sm-8 p {
	text-align: center;
}

.col-md-4 {
	text-align: center;
}

.img-responsive-img-circle {
	
}

.social-link {
	margin-top: 100px;
	overflow: hidden;
	padding: 0;
	display: table;
	margin: 0 auto;
}

.social-link li {
	display: inline-table;
	margin-right: 10px;
}

.col-lg-3 p {
	text-align: center;
	word-spacing: 100%;
}

#about h2 {
	color: orangered;
	margin-top: 50px;
}

#about h2::after {
	border-bottom: 2px dashed #918D8D;
}

#about .info p {
	line-height: 270%;
}

#about .signature {
	font-family: 'Brush Script MT', cursive;
	font-size: 150%;
	text-align: center;
	color: #0d2435;
	opacity: .9;
	text-align: center;
}

#skill-set {
	margin-top: 10px;
}

#skill-set {
	overflow: hidden;
  	margin: initial;
}

#web-development-skills {
	background-color: none;
}

.skills {
	color: white;
}

.skills {
	margin: initial;
}

.horizontal-list {
	font-size: 20px;
	text-align: center;
	line-height: 80px;
}

/* Change the font color to skyblue on hover */
.horizontal-list p:hover {
  	color: skyblue;
}

.horizontal-list p {
	text-align: center;
}

#portfolio {
	background-image: url("https://www.linkpicture.com/q/coding-pics-2.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.pt {
	margin-top: -2%;
	font-size: 18px;
	text-align: center;
}

.port {
	font-size: 20px;
	font-family: serif;
	text-align: center;
}

.data-1 {
	font-size: 20px;
	color: orangered;
	text-align: center;
	font-family: 'Fauna One', serif;
	margin-top: 5%;
}

.data-lists {
	text-align: center;
	margin-top: 3%
}

.data-list-1 {
	font-size: 20px;
	margin-top: 10px;
	color: skyblue;
}

.al {
	color: green;
}

.data-list-3 {
	margin-top: 20px;
}

.date-1 {
	color: white;
	font-size: 12px;
}